<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  .left {
    width: 100px;
    height: 100px;
    background-color: red;
    float: left;
    margin-left: -100px;
  }

  .right {
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: right;
  }

  .middle {
    border: 1px solid #000;
    height: 100px;
    width: 100%;
    padding: 0 100px;
    /*position: absolute;*/
    float: left;
  }
  </style>
</head>
<body>
  <div class="middle">jljlj</div>
  <div class="left"></div>
  <div class="right"></div>
</body>
</html>